body{
   background-color: white;
   
}

#container{
 
   border-left-style: solid;
   border-left-width: 1px;
   border-left-color: orange;
   border-right-style: solid;
   border-right-width: 1px;
   border-right-color: orange;
   width: 1024px;
   height: 100%;
   margin-left: auto;
   margin-right: auto;
   padding: 0px 5px;
}

#header{
 
   
   width: 1019px;
   height: 25px;
   padding-left: 5px;
   border-bottom-style: solid;
   border-bottom-width: 1px;
   border-bottom-color: orange;
   font-size: 24px;
   color: #ce5c00;
   font-family: Arial;
}

#central{
   width: 1019px;
   height: 100%;
   padding: 0px 2px;
 
}

.horizontal_menu{
   font-family: Arial;
   font-size: 15px;
   font-weight: bold;
   width: 1019px;
   height: 20px;
   border-bottom-style: solid;
   border-bottom-width: 1px;
   border-bottom-color: orange;

}

.horizontal_menu ul{
   list-style: none;
   padding: 0px;
   text-align: center;
}

.horizontal_menu li{
 
   display: inline;
   padding: 1px 0px 0px 0px;
   margin-left: 3px;
   width: 120px;
   height: 20px;
   float: left;
   background-color: orange;

}
.horizontal_menu li a{
   padding: 0px 5px;
   text-decoration: none;
   
}

.horizontal_menu li a:link, .horizontal_menu li a:visited{
   color: white;
 }
 
 #div_configuracion{
   display: none;
 }
 #div_clientes{
   display: none;
 }
 
 .div_data h1{
   color: #ce5c00;
   font-size: 20px;
   font-family: Arial;
   font-weight: normal;
   
 }
 
 .data_configuration{
   /*font-family: Arial;
   font-size: 14px;
   padding: 2px 5px;
   color: #ce5c00;*/
   
 }
 .label{
 
   font-family: Arial;
   font-size: 14px;
   padding: 2px 5px;
   color: #ce5c00;
   float: left;

 }
 
 .grid{
 
   
   margin-left:auto;
   margin-right:auto;
   width: 700px;

 }
 
 .label-grid-colum{
   
   width: 150px;
   display:inline;
   float: left;
 }
 .value-grid-column{
   
   width: 450px;
   display:inline;
   float: left;
 }
 .desc-grid-column{
   
   width: 100px;
   display:block;
   float: left;
   text-align: center;
 }
 
 .grid .input_grid{
   font-family: Arial;
   font-size: 14px;
   font-style: italic;
   width: 445px;
   height: 25px;
   color: brown;
 }
 .label-grid-colum, .value-grid-column, .desc-grid-column, .grid .input_grid{
 
    padding: 3px 0px;
 }
 
 .newLine{
   display: block;
   clear: both;
   float: right;
   /*border-top-color: orange;
   border-top-style: solid;
   border-top-width: 1px;*/
   margin-top: 20px;
   padding-top: 10px;
 }
 
 
 .data-container{
   font-family: Arial;
   font-size: 14px;
   
   width: 100%;
   float: left;
   
 }
 .toolbar{
   
   width: 100px;
   padding: 0px 10px;
   float: left;
   display: inline;
   
 }
 .toolbar-bottom{
   background-color: orange;
   color: white;
   font-weight: bold;
   
   padding: 3px 2px;
   margin: 3px 0px;
   border-style: solid;
   border-width: 1px;
   border-color: black;
   border-radius: 15px;
   
 }
 .toolbar-bottom img{
   margin-right: 3px;
   margin-left: 15px;
   
 }
 #div-cursos{
   
   width: 561px;
   height: 500px;
   padding: 0px 3px;
   float: left;
   display: inline;
   border-left-style: solid;
   border-left-color: orange;
   border-left-width: 1px;
   
 }
 
 #div-image-cursos{
   
   width: 324px;
   height: 246px;
   padding: 2px 0px;
   float: left;
   display: inline;
   border: 1px solid black;
   margin-left: 5px;
   text-align: center;
 }
 #div-image-cursos img{
   max-width: 324px;
   max-height: 246px;
   
   
 }
 #div-description-cursos{
   
   
   width: 324px;
   height: 250;
   padding: 0px 3px;
   float: left;
   display: inline;
   font-size: inherit;
   font-family: inherit;
   color: #7D5F3F;
   font-style: italic;
 }
 
 /* Definition for curse input data */
 #input-curse-name{
   width: 390px;
 }
 #textarea-curse-description{
  resize: none;
  width: 390px;
 }
 #input-price{
   width: 98px;
 }
 #image-preview{
   
   text-align: center;
   max-width: 500px;
   height: 300px;
   max-height: 300px;
   
   border: 1px solid black;
   margin-left: auto;
   margin-right: auto;
   padding-bottom: 10px;
   
   
 }
 #image-preview > img{
   max-width: 500px;
   max-height: 300px;
 }
 #input-duration{
   width:100px;
 }
 
