body{
   background-color: white;
   font-family: arial;
   
}

header, footer, section{
   
   width: 1200px;
   margin-left: auto;
   margin-right: auto;
  color: #ce5c00;
}
header{
   background-color: inherit;
   padding: 10px 2px;
}

header span{
 
   color: inherit;
   font-weight: bold;
   font-style: italic;
}