
#steps-data{
   min-height: 520px;
   float: left;
}

#steps-list {
 min-height: 515px;
 /*background-color: blue;*/
 float: left;
}
#steps-data{
   width: 100%;
   padding-top: 5px;
   /*background: red;*/
}

#steps-list{
   width:24%;
   float: left;
   padding: 3px;
   /*border-right: 1px solid orange;*/
   text-align: center;
}
#step-work{
   width: 75%;   
   float: left;
   border-left: 1px solid orange;
   min-height: inherit;
}
#step-toolbar > ul{
 
   list-style: none;
   padding: 5px;
   margin-top: 0px;
}
#step-toolbar > ul >li{
   float: left;
}
#step-toolbar{
   border-bottom: 1px solid orange;
   padding: 0px 0px 10px 0px;
   float: left;
   width: 100%;
}
#step{
   width: 99%;
   /*min-height: 455px;*/
   padding-left: 1%;
   padding-top: 1%;
   float: left;
   /*background-color:green;*/
}
.step-data{
   witdh:100%;

}
.step-title, .step-html{
   width: 100%;
   padding: 2px;
   float: left;
}

#tab-steps{
   min-height: 525px;
}

#List-Curse-Index{
   
   text-align: justify;
   list-style: none;
   padding: 0px 10px;
}
.Curse-Index{
   padding: 1px 2px;
 
}
.Selected-Curse-Index{
 
   font-weight: bold;
   font-style: italic;
   color: white;
   background-color: orange;
}
#List-Curse-Index a{
   text-decoration: none;
   color: inherit;
 }
.Selected-Step{
 
 }
}