@CHARSET "UTF-8";

/** 
 * File with the style sheet for a grid
 * 
 * The grid format must
 *    <div class="Grid>
 *       <!-- The Grid rows are ul tags -->
 *       <ul class="Grid-Row">
 *          <!-- The Grid columns are li tags -->
 *             <li class="Grid-Col Grid-3-Cols">
 *                Column #1
 *             </li>
 *             <li class="Grid-Col Grid-3-Cols">
 *                Column #2
 *             </li>
 *             <li class="Grid-Col Grid-3-Cols">
 *                Column #3
 *             </div>
 *          </li>
 *       </ul>
 *    </div>
 */
 
  
 .Grid{
   width: 100%;
   display: block;
   float: left;
}

.Grid-Row{
 
   list-style-type: none;
   width: 100%;
   padding-left: 0px;
   display: inherit;
   float: inherit;
   margin-bottom: 5px;
}

.Grid-Col{
   text-align: center;
   display: inherit;
   float: inherit;
}

.Grid-2-Cols{
   width: calc(100% / 2);
}

.Grid-3-Cols{
   width: calc(100% / 3);
}

.Grid-4-Cols{
   width: calc(100% / 4);
}