@CHARSET "UTF-8";

/**
* Import the page fonts
*/
@font-face{
   font-family: Ubuntu;
   src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf);
}
@font-face{
   font-family: Ubuntu-Light;
   src: url(../fonts/Ubuntu/Ubuntu-Light.ttf);
}
@font-face{
   font-family: Arimo;
   src: url(../fonts/Arimo/Arimo-Regular.ttf);
}

html{
 
}

body{
   background-color:white;
   color: #f58f00;
   
}
/* Header style */

header, #Logo, nav, #Solid-Header{
   z-index: 10;
   
}

header{
   background-color: inherit;
   width: 100%;
   height: 125px;
   position: fixed;
   top: 0px;
   left: 0px;
   opacity: .85;
}
#Solid-Header{
 
   width: 100%;
   height: 125px;
   top: 0px;
   left: 0px;
   position: fixed;
}

#Solid-Header-Center{
   width: 1200px;
   position: static;
   margin-left: auto;
   margin-right: auto;
}

#Logo{
   height: 125px;
   width: 203px;
   /*margin-left: 10%;*/
   /*left: 150px;*/
   background-position: center;
   background-repeat: no-repeat;
   background-size: 100%;
   /*position:fixed;*/
   float: left;
}

nav{
   
   /*position: fixed;
   margin-left: 980px;*/
   margin-top: 30px;
   float: right;
   font-family: Ubuntu;
   /*font-weight: bold;*/
   font-size: 20px;
}

nav ul{
 
   list-style-type:none;
}

nav ul li{
   float: left;
   padding: 5px 10px;
   margin-left: 2px;
   margin-right: 2px;
   background-color: #f58f00;
   color: white;
   border-radius: 8px;
}

nav ul li:hover{
 
   background-color: #fdba71;
   
}

/** Section Images-Slides ***/
#Section-Images-Slides{
 
   /*background-color: cyan;*/
   background-color: inherit;
   position: relative;
   width: 1200px;
   height: 300px;
   margin-left: auto;
   margin-right: auto;
   padding-top: 126px;
   
}
#Images-Slide{
   /*background-color: yellow;*/
   background-color: inherit;
   width: 100%;
   height: 100%
}

/*** Page style ***/
.Main-Section, .Lateral-Side{
 
   display: block;
   float: left;
   padding-top: 10px;
}
.Anchor{
 
   
   visibility: hidden;
   height: 125px; /*same header*/
   margin-top: -125px; /*same header*/
   width: 100%;
   float: left;
}

#Main-Div{
 
   width: 1100px;
   margin-left: auto;
   margin-right: auto;
}
.Main-Section{
   
   width: 780px;
   padding: 3px 5px;
}

.Detail-Section{
   padding: 20px;
   width: calc(100% - 40px);
   display: block;
   float: left;
 
}
.Detail-Section h2{
 
   width: 100%;
   text-align: center;
   font-family: Ubuntu-Light;
   font-size: 55px;
   background-color: orange;
   color: white
}
.Lateral-Side{
   
   width: 300px;
   padding: 3px 5px;
   
}

.fb-page, .Twiter-Widget{
 
   padding-top: 40px;
}

.Grid{
   overflow: hidden;
}

.Grid-Col img{
 
   max-width: 150px;
   height: auto;
}
.Grid-Col h3{
 
   margin: 0px;
   font-family: Ubuntu;
   font-size: 16px;
}

.View-More{
 
   width: 100%;
   display: block;
   float: left;
   text-align: center;
   padding-top: 10px;
}
.Text-View-More{
   font-family: Ubuntu;
   font-size: 14px;
}
.Text-View-More:hover{
 
   cursor: pointer; 
}

.Post{
   display: block;
   float: left;
   padding: 20px 10px;
   margin-right: 5px;
   width: calc(100% - 32px);
   border-style: solid;
   border-width: 1px;
   height: 140px;
}

.Post p{
 
   margin: 0px;
}

.Post-Header{
   width: calc(100% - 20px);
   display: block;
   float: left;
   padding: 0px 10px;
}
.Post-Title{
   width: 240px;
   /*display: inline;*/
   float: left;
   text-align: left;
   font-size: 18px;
}
.Post-Date{
 
   width: 78px;
   /*display: inline;*/
   float: left;
   text-align: right;
   font-size: 12px;
}
.Post-Header, .Post-Title, .Post-Date, .Post-Read{
 
   font-family: Ubuntu;
}

.Post-Title, .Post-Date, .Post-Read, .Page-Post-Title, .Page-Post-Date{
  
   color: #ce5c00;
 
}

.Post-Read{
   width: 100%;
   display: block;
   float: left;
   font-size: 13px;
   text-align: right;
   margin-top: 15px;
}
.Post-Begin{
 
   font-family: Arimo;
   font-size: 13px;
   text-align: justify;
   width: 100%;
   height: 75px;
   float:left;
   margin-top: 20px;
   overflow: hidden;
   display: block;
}

.Post-Read-Text a{
 
   text-decoration: none;
   color: inherit;
}

.Page-Post{
 
   margin-top: 126px;
   padding: 0px 40px;
   text-align: justify;
}


.Page-Post-Date, .Page-Post-Title{
   font-family: Ubuntu-Light;
}

.Page-Post-Date{
   font-family: Ubuntu;
   font-size: 18px;
}

.Page-Post-Date{
   width: 100px;
   height: 33px;
   display: inline;
   float: left;
   text-align: right;
   padding-top: 5px;
}

.Page-Post-Title{
 
   
   font-size: 28px;
   display: inline;
   float: left;
   width: 540px;
   padding-right: 20px;
}
.Page-Post-Title h1, .Page-Post-Title h1>p{
   margin: 0px;
}

.Page-Post-Text{
 
   font-family: Arimo;
   font-size: 16px;
   text-align: justify;
   float: left;
   width: 100%;
}

#Lasts-Five-Posts{
   display: block;
   float: left;
   margin-top: 126px;
   padding: 0px 10px;
   width: calc(100% - 20px);
   font-family: Ubuntu;
   text-align: left;
}
#Last-Five-Posts-Title{
   color: #ce5c00;
   font-size: 16px;
}

#Last-Posts-List{
   text-align: left;
   font-size: 14px;
   color: #F58F00;
   list-style: none;
   padding: 0px 15px;
}
.Last-Post-Element{
   padding: 5px 0px;
   
}
#Last-Posts-List a{
   color: #F58F00;
   text-decoration: none;
}

#Post-By-Date{
 
   font-family: Ubuntu;
   font-size: 14px;
   float: left;
   display: block;
}
#Post-By-Date, #Post-By-Date ul{
   list-style: none;
   padding: 0px 15px;
   width: 100%;
 
}
#Post-By-Date li{
 
   display: block;
   float: left;
   padding: 5px 0px;
   width: 100%;
   
}
#Post-By-Date > li:HOVER{
   cursor: pointer;
}

#Post-By-Date li a{
   color: #F58F00;
   text-decoration: none;

 }
 .Date-Div{
   color: #ce5c00;
 }
 
.Class-H1, .Class-H2{
 
   font-family: Ubuntu-Light
}


.Class-H1{
 
   font-size: 36px;
   color: #ce5c00;
}
.Class-H2{
 
   font-size: 30px;
   color: #ce5c00;
   padding-left: 50px;
}
 
.Hide{
 
   display: none;
}