@CHARSET "UTF-8";

html{
 
}

body{
   background-color:white;
   color: #f58f00;
   
}
/* Header style */

header, #Logo, nav, #Solid-Header{
   z-index: 10;
   
}

header{
   background-color: inherit;
   width: 100%;
   height: 125px;
   position: fixed;
   top: 0px;
   left: 0px;
   opacity: .85;
}
#Solid-Header{
 
   width: 100%;
   height: 125px;
   top: 0px;
   left: 0px;
   position: fixed;
}

#Solid-Header-Center{
   width: 1200px;
   position: static;
   margin-left: auto;
   margin-right: auto;
}

#Logo{
   height: 125px;
   width: 203px;
   /*margin-left: 10%;*/
   /*left: 150px;*/
   background-position: center;
   background-repeat: no-repeat;
   background-size: 100%;
   /*position:fixed;*/
   float: left;
}

nav{
   
   /*position: fixed;
   margin-left: 980px;*/
   margin-top: 30px;
   float: right;
}

nav ul{
 
   list-style-type:none;
}

nav ul li{
   float: left;
   padding: 5px 10px;
   margin-left: 2px;
   margin-right: 2px;
   background-color: #f58f00;
   color: white;
   border-radius: 8px;
}

nav ul li:hover{
 
   background-color: #fdba71;
   
}

/** Section Images-Slides ***/
#Section-Images-Slides{
 
   /*background-color: cyan;*/
   background-color: inherit;
   position: relative;
   width: 1200px;
   height: 300px;
   margin-left: auto;
   margin-right: auto;
   padding-top: 126px;
   
}
#Images-Slide{
   /*background-color: yellow;*/
   background-color: inherit;
   width: 100%;
   height: 100%
}

/*** Page style ***/
.Main-Section, .Lateral-Side{
 
   display: block;
   float: left;
   padding-top: 10px;
}
.Anchor{
 
   display: block;
   visibility: hidden;
   height: 125px; /*same header*/
   margin-top: -125px; /*same header*/
}

#Main-Div{
 
   width: 1100px;
   margin-left: auto;
   margin-right: auto;
}
.Main-Section{
   
   width: 780px;
   padding: 3px 5px;
}

.Detail-Section{
   padding: 20px;
   width: calc(100% - 40px);
   display: block;
   float: left;
 
}
.Lateral-Side{
   
   width: 300px;
   padding: 3px 5px;
   
}

.fb-page, .Twiter-Widget{
 
   padding-top: 40px;
}

.Grid{
 
   width: 100%;
   display: block;
   float: left;
}

.Grid-Col{
   text-align: center;
   display: inherit;
   float: inherit;
   width: calc(100% / 3);
}
.Grid-Row{
 
   list-style-type: none;
   width: 100%;
   padding-left: 0px;
   display: inherit;
   float: inherit;
   margin-bottom: 5px;
}
.Grid-Col img{
 
   width: 150px;
   height: auto;
}
.Grid-Col h3{
 
   margin: 0px;
}